 ///////////////////MOBILE///////////////////////
#main-content {
  position: relative;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  color: $primaryColor;
  font-size: 2.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h2 {
  font-family: 'Keania One', cursive;
  color: #FFF;
  font-size: 2rem;
  letter-spacing: 1px;
}

h3 {
  font-family: 'Keania One', cursive;
  color: $elementsColor;
  font-size: 1.8rem;
  letter-spacing: 1px;
}

p {
  font-family: 'Open Sans Condensed', sans-serif;
  color: $primaryColor;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.2;
}

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 2rem;
  border-left: 5px solid #FFF;
}

a {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #FFF;
  text-decoration: none;
  font-size: 2rem;
}

label {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.7rem;
  color: $primaryColor;
}

input,
textarea {
  margin-bottom: 30px;
}

input,
textarea {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
}

span {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

///////////////////TABLET///////////////////////
@include tablet {
}

//////////////////DESKTOP////////////////////////
@include desktop {
  h1 {
    font-size: 3.25rem;
  }
  h2 {
    font-size: 2rem;
    letter-spacing: 2px;
  }
  h3 {
    font-size: 2.2rem;
    letter-spacing: 2px;
  }
  p {
    font-size: 2.5rem;
  }
}