.image-holder {
    position: relative;
    background-color: #FFF;
    height: 100vh;
    @include desktop {
        background-image: url('../../../assets/images/imageHolder6.jpg');
        background-position: top center;
        background-size: cover;
    }
}