.infos-container {
    background: rgba(17, 0, 173, 1);
    background: linear-gradient(to bottom, rgba(17, 0, 173, 1) 0%, rgba(0, 7, 36, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1100ad', endColorstr='#000724', GradientType=0);
}