.logo {
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translateX(-55%);
    width: 16%;
    @include tablet {
        width: 10%;
    }
    @include desktop {
        width: 5%;
    }
    img {
        width: 100%;
    }
}