.parallax {
    display: none;
    z-index: -2;
    position: relative;
    background-image: url("../../assets/images/parallax2.jpg");
    height: 750px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include tablet {
        display: block;
    }
    @include desktop {
        display: block;
    }
    &__header {
        width: 100%;
        position: absolute;
        top: 30%;
        text-align: center;
        text-shadow: 2px 5px #000;
        @include tablet {}
        @include desktop {
            width: 55%;
            position: absolute;
            top: 30%;
            left: 20%;
        }
        &--properties {
            font-family: 'Montserrat', sans-serif;
            color: #FFF;
            font-size: 3.5rem;
            @include tablet {}
            @include desktop {
                font-size: 5rem;
            }
        }
    }
}