.portfolio {
    background-color: $primaryColor;
    padding-top: 50px;
    padding-bottom: 50px;
    z-index: 0;
    position: relative;
    &:after {
        position: absolute;
        width: 100%;
        height: 100%;
        content: '';
        background-color: inherit;
        z-index: -1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform-origin: bottom left;
        transform: skewY(-4deg);
    }
    &__header {
        color: #FFF;
        text-align: center;
        margin-top: 0;
        margin-bottom: 30px;
        font-size: 3.5rem;
    }
}